DATABASE_URL="postgresql://user:password@localhost:5432/db_name"
BETTER_AUTH_SECRET=jkdsafsadjfsdfasdfpajhgaodafkljd
BETTER_AUTH_URL=http://ip:porta
NEXT_PUBLIC_APP_URL=http://ip:porta
NEXT_PUBLIC_API_URL=http://ip:porta/admin/api/auth

INIT_OWNER_EMAIL=admin@email.com
INIT_OWNER_PASSWORD=password123
INIT_OWNER_NAME=admin

---------------------------------------------------

POSTGRES_DB=censurado
POSTGRES_USER=censurado
POSTGRES_PASSWORD=censurado
PGHOST=censurado
PGPORT=censurado

DATABASE_URL="postgresql://censurado:censurado@host.docker.internal:5432/ramais_db"
BETTER_AUTH_SECRET=censurado
BETTER_AUTH_URL=http://localhost:5050 
NEXT_PUBLIC_APP_URL=http://localhost:5050
NEXT_PUBLIC_API_URL=http://localhost:5050

INIT_OWNER_EMAIL=censurado
INIT_OWNER_PASSWORD=censurado
INIT_OWNER_NAME=censurado