/* /styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.map-container {
  @apply relative w-full h-full;
  /* Garante que o contêiner do mapa ocupe a tela e que os elementos se posicionem de forma relativa. */
}

.mapa-brasil {
  @apply absolute top-0 left-0 w-full h-full;
  @apply transition-transform duration-500 ease-in-out;
  /* Define a transição para que a animação seja suave. */
}

.cidade {
  @apply cursor-pointer;
  transform-origin: center;
  transition: transform 0.5s ease-in-out;
}